@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=Andada+Pro:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap"); */

@layer base {
    @font-face {
        font-family: 'Moderat';
        src: url('../public/fonts/Moderat-Regular.woff') format('woff'),
            url('../public/fonts/Moderat-Regular.woff2') format('woff2');
        font-weight: normal;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Moderat';
        src: url('../public/fonts/Moderat-Medium.woff') format('woff'),
            url('../public/fonts/Moderat-Medium.woff2') format('woff2');
        font-weight: 500;
        font-display: swap;
        font-style: normal;
    }
    @font-face {
        font-family: 'Moderat Extended';
        src: url('../public/fonts/Moderat-Extended-Bold.woff') format('woff'),
            url('../public/fonts/Moderat-Extended-Bold.woff2') format('woff2');
        font-weight: bold;
        font-display: swap;
        font-style: normal;
    }
    body {
        @apply scrollbar-thin bg-woodsmoke-900;
    }
}

@layer components {
    /* .sidebarIcon {
        @apply h-6 text-[#808080] cursor-pointer;
    } */

    .container {
        @apply font-moderat max-w-7xl mx-auto pb-24 px-4 lg:px-8 xl:px-0
    }

    .titleHeader {
        @apply font-moderat_extended text-4xl md:text-5xl
        uppercase text-center text-slate-50
        tracking-wider
    }

    .card {
        @apply border-2 border-slate-800 rounded-md
        hover:border-slate-600 transition duration-200
        cursor-pointer
    }

    .cardTitle {
        @apply text-2xl text-slate-50  font-moderat
        font-medium truncate
    }

    .cardOverview {
        @apply md:text-base text-slate-400 line-clamp-4 mb-auto
    }

    .cardRating {
        @apply text-xl text-slate-50
    }

    .cardTheatreTag {
        @apply rounded-md py-1 px-2 uppercase
    }

    .theatreTabText {
        @apply text-2xl uppercase text-slate-800
        hover:text-slate-50 transition cursor-pointer
        ease-out duration-200
    }

    .sectionContainer {
        @apply mt-14 sm:mt-16 lg:mt-24 xl:mt-32
    }

    .sectionHeader {
        @apply font-moderat_extended text-4xl text-left
        text-slate-50 mb-8 lg:mb-12 xl:mb-12 tracking-wide
    }

    .sectionDateText {
        @apply text-base text-slate-600
        hover:text-slate-50 uppercase
    }

    .cinemaTitle {
        @apply text-lg text-slate-50 capitalize
    }

    .cinemaDateTab {
        @apply w-full p-4 text-sm xl:text-lg font-moderat_extended transition
        duration-200 border-b-2 border-transparent cursor-pointer
        text-center
    }

    .cinemaDateTabSelected {
        @apply cinemaDateTab border-slate-50 text-slate-50
    }

    .cinemaDateTabUnselected {
        @apply cinemaDateTab text-slate-600 hover:text-slate-50
    }

    .cinemaTimingContainer {
        @apply flex flex-col gap-y-16 xl:gap-y-12
    }

    .cinemaTimingTextLine {
        @apply uppercase cursor-pointer text-xl text-center
        py-4 px-6 xl:py-4 xl:px-0 duration-200 transition
        border-b-2 border-transparent
    }

    .cinemaTimingText {
        @apply uppercase cursor-pointer text-xl text-center
        rounded-md py-4 px-3 sm:py-4 sm:px-6 xl:py-2 xl:px-3
        duration-200 transition border-b-2 border-transparent
        text-slate-400 hover:text-slate-50 hover:bg-slate-600
        border-2 border-slate-800
    }

    .cinemaTimingTextSoldLine {
        @apply cinemaTimingText text-slate-800
    }

    .cinemaTimingTextSold {
        @apply cinemaTimingText bg-slate-800 text-slate-600
        hover:bg-slate-800 border-0 hover:text-slate-600
        line-through
    }

    .cinemaTimingTextSellingLine {
        @apply cinemaTimingText text-slate-400
        hover:text-red-500 hover:border-red-500
    }

    .cinemaTimingTextSelling {
        @apply cinemaTimingText underline
    }

    .cinemaTimingTextAvailableLine {
        @apply cinemaTimingText text-slate-400
        hover:border-slate-50 
    }

    .cinemaTimingTextAvailable {
        @apply cinemaTimingText
    }

    .reviewText {
        @apply text-slate-400
    }

    .reviewAuthorName {
        @apply text-slate-50 capitalize text-sm
    }

    .reviewAuthorCompany {
        @apply text-slate-400 text-sm
    }
    
    .reviewRatingText {
        @apply text-lg text-gv-yellow text-right
    }

    .reviewDateText {
        @apply text-sm text-slate-400
    }
}
